<template>
    <ejecucion></ejecucion>
</template>
<script>

import ejecucion from '../views/Ejecucion';

export default {
     name: 'EjecucionFinal',
  components:{
      ejecucion
    },
}
</script>