<template>
    <div class="Historial">
        <v-card>
              <!-- titulo -->
            <v-row class="mx-auto text-center">
                <v-col cols="12" md="11" class="mt-0 mb-n4 pb-n2 pl-6">
                    <h1>Historial de evidencias</h1>
                </v-col>
            </v-row>

            <!-- grid de evidencias            -->
            <v-row class="mx-auto text-center">
                <v-col cols="12" md="12">    
                    <template>
                        <v-card >
                            <v-card-title>
                                <v-row>
                                     <v-col cols="2" sm="12" md="2">
                                        <v-select  menu-props="auto" label="Anillos" :items="this.$store.state.anillosE" 
                                        item-text="anillo" item-value="id" v-model="$store.state.menuAnilloSeleccionadoE" hide-details  solo single-line></v-select>                    
                                    </v-col>

                                    <v-col cols="2" sm="12" md="2">
                                        <v-text-field v-model="rfcBusqueda" label="RFC" solo></v-text-field>
                                    </v-col>
                                    
                                    <v-col cols="2" sm="12" md="2">
                                        <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                                            <template v-slot:activator="{ on }">
                                                <v-text-field v-model="dateFin" label="Seleccione la fecha"  readonly v-on="on" :value="computedDateFormattedDatefns" solo></v-text-field>
                                            </template>
                                            <v-date-picker v-model="dateFin" @input="menu2 = false" locale="mx" :min="periodoMinimo" :max="periodoMaximo" :weekday-format="dayWeek"></v-date-picker>
                                        </v-menu>
                                    </v-col>

                                    <v-col cols="2" sm="12" md="2">
                                        <v-text-field v-model="tipoPrueba" label="Tipo de prueba" solo></v-text-field>
                                    </v-col>
                                    <v-col cols="2" sm="12" md="2">
                                        <v-text-field v-model="descripcion" label="Descripción"  solo ></v-text-field>
                                    </v-col>

                                    <v-col cols="2" sm="12" md="2">
                                        <div class="" style="text-align:right">
                                        <v-btn  dark small color="primary"  @click="searchEvidencias" style="width:142px;height:32px;margin-top:-5px;margin-right:14px">
                                             <v-icon left>mdi-chart-donut</v-icon>Buscar</v-btn>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-title>
                            
                            <v-data-table dense :headers="headers" :items="arrEvidencias" 
                            :footer-props="{
                                    showFirstLastPage: true,
                                    'items-per-page-text':'filas por página','items-per-page-all-text': 'todas',      
                                }">
                               
                                <template v-slot:item.id="{ item }" style="font-size:10px;">
                               
                                    <v-icon class="mr-2" @click="detalleEvidencia(item)">mdi-file-document-edit-outline</v-icon>
                              
                                </template>
                                <template 
                                v-slot:footer.page-text="items"> {{ items.pageStart }} - {{ items.pageStop }} de {{ items.itemsLength }} 
                                </template>
                            </v-data-table>

                        </v-card>
                    </template>
                </v-col>
            </v-row>


            <v-overlay :value="overlay">
                <v-card class="mx-auto" color="#1976d2" dark max-width="430">
                <v-row>
                    <v-col cols="12">
                    <v-card-text class="headline font-weight-bold" style="text-align: center;">
                        Procesando ...
                    </v-card-text>
                    </v-col>
                    <v-col cols="12" style="text-align: center;">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                    </v-col>
                </v-row>  
                </v-card>
            </v-overlay>

        <v-snackbar v-model="snackbar" :color="colorSnack" :multi-line="snackBool" :top="snackBool">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>


        <!-- dialogo detalle evidencia -->
      <v-dialog v-model="dialogoEvidenciaDetalle" persistent max-width="750px"  style="overflow-x: hidden;!important" >
          <div ref="content">
            <v-card  class="mx-auto" style="padding-right:12px" >

                <v-card-text  >   <!-- v-bind:style="{ height: altura+'px' }"-->
                <v-list-item>
                <v-avatar  color="indigo">
                    <v-icon dark>mdi-flag-checkered</v-icon>
                </v-avatar>
                <v-list-item-content style="margin-left:20px">
                    <v-list-item-title class="headline">Evidencia de ejecución de redundancia</v-list-item-title>
                    <v-list-item-subtitle>Fecha ejecución: {{dateFin}}</v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>

                <v-img :src=getBackground height="184" style="opacity:0.1"></v-img>
                <v-row>
                    <v-col cols="8">
                    <span style="position: absolute;margin-top: -170px;margin-left: 25px;font-weight: bold;">Anillo: {{resultado.anillo}}</span>
                    </v-col>
                    <v-col cols="4" style="text-align: center;">
                        <v-btn style="position: absolute;margin-top: -180px;margin-left: 0px;" text color="indigo" @click="dialogoEvidenciaDetalle=false">Cerrar</v-btn>
                    </v-col>
                </v-row>  
        
                <v-row>
                    <v-col cols="8">
                    <span style="position: absolute;margin-top: -178px;margin-left: 25px;font-weight: bold;color: crimson;">Ejecutó: {{resultado.username}}</span>
                    </v-col>
                    <v-col cols="4" style="text-align: center;">
                        <v-btn style="position: absolute;margin-top: -165px;margin-left: 0px;" text color="indigo" @click="downloadWithCSS" >Ver PDF</v-btn>
                    </v-col>
                </v-row> 
                   
                <span style="position: absolute;margin-top: -160px;margin-left: 25px;font-weight: bold;color: crimson;">Tipo de prueba: {{resultado.tipoPrueba}}</span>
                <span style="position: absolute;margin-top: -140px;margin-left: 25px;font-weight: bold;">Descripción: {{resultado.descripcion}}</span>
                <!-- <span style="position: absolute;margin-top: -60px;margin-left: 25px;width: 90%;">Reporte: {{resultado.outFileB64}}</span>
                   -->
                   <div v-if="(resultado.tipoPrueba === 'CONFIG' && flatList != null )">
                    <span style="position: absolute;margin-top: -120px;margin-left: 25px;font-weight: bold;">Id: {{JSON.parse(this.resultado.outFileB64).id}}</span>
                   <span style="position: absolute;margin-top: -100px;margin-left: 25px;font-weight: bold;">Estatus: {{JSON.parse(this.resultado.outFileB64).estatus}}</span>
                   <span style="position: absolute;margin-top: -80px;margin-left: 25px;font-weight: bold;">Número de nodos: {{JSON.parse(this.resultado.outFileB64).noNodos}}</span>
                    <span style="position: absolute;margin-top: -60px;margin-left: 25px;font-weight: bold;">Versión: {{JSON.parse(this.resultado.outFileB64).version}}</span>
                   <v-simple-table  dense>
                   <template v-slot:default>
                   <thead>
                   <tr>
                   <th class="text-center">
                   Propiedad
                   </th>
                    <th class="text-center">
                   Valor
                   </th>
                   </tr>
                   </thead>
                   <tbody
                   v-for="(item, index) in flatList"
                   :key="item.equipo"
                   >            
                   <tr>
                   <td>
                    {{ item[0].toUpperCase() }}
                   </td>
                   <td>{{ item[1] }}</td>
                   </tr>
                   <tr v-if="ismultiplo(index)">
                   <td colspan="2">
                   <v-progress-linear v-model="skill" color="primary" height="2"/> 
                   </td>
                   </tr>
                   </tbody>
                   </template>
                   </v-simple-table>
                   </div>
                   <textarea v-else-if="(resultado.tipoPrueba === 'CONFIG' && flatList == null)" id="contentX" v-model="defaultText" :disabled=isDisabled style="border-style:ridge;margin-top: -80px;width: 104%;height:400px"></textarea>
                   <textarea v-else id="contentX" :disabled=isDisabled v-model="resultado.outFileB64" style="border-style:ridge;margin-top: -80px;width: 104%;height:400px"></textarea>

                  
                </v-card-text>
                 <v-spacer></v-spacer>
            </v-card>
            
        </div>
    </v-dialog>
        </v-card>
    </div>
</template>

<script>
import VueJsonPretty from 'vue-json-pretty';
import jsPDF from "jspdf";
import 'jspdf-autotable';
//import html2canvas from "html2canvas"
import operations from '../operations';
import servidor from '../config';

export default {
      components: {
    VueJsonPretty
  },
    name: 'Historial',
    data: () => ({
       defaultText: 'No es posible dar formato a la información',
        skill: 100,
        isDisabled:true,
        snackBool:false,
        altura:1300,
        arrEvidenciasAux:[],
        resultado:{},
        dialogoEvidenciaDetalle:false,
        arrEvidencias:[],
        colorSnack:'red',
        msgSanck:'',
        snackbar:false,
        overlay:false,
        tipoPrueba:'',
        rfcBusqueda:'',
        descripcion:'',
        //search: '',
        headers: [
                 { text: 'Nombre', value: 'anillo',width:'8%' },
                { text: 'RFC', value: 'rfc',width:'8%' },
                { text: 'Fecha hora', value: 'fechaHora',width:'10%' },
                { text: 'IP', value: 'ip' ,width:'8%'},
                { text: 'Tipo prueba', value: 'tipoPrueba' ,width:'10%'},
                { text: 'Descripción', value: 'descripcion',width:'6%'},
                { text: 'Ejecutada por', value: 'username',width:'10%'},
                { text: 'Detalle', value: 'id',width:'6%'}
            ],
        show:false,
        e1:'',
      dateFin: new Date().toISOString().substr(0, 10),
      menu2: false,
      configAnillo: null,
      configuraexistentes:['Confuguracion'],
      states:[]
    }),
    methods:{
    //PAUL
    ismultiplo(index) {
      return (index + 1) % 14 == 0;
    },
    dayWeek(date){
      let arrDays = ["L", "M", "M", "J", "V", "S", "D"];
            let i = new Date(date).getDay(date);
            return arrDays[i];
    },      
    pretty(value){
                try {
        JSON.parse(str);
    } catch (e) {
        return value;
    }
            return JSON.stringify(JSON.parse(value),null,2);
        },
    //    
     downloadWithCSS() {
      console.log("en pdf");
      console.log(JSON.stringify(this.resultado.outFileB64));
      
      console.log(this.resultado.outFileB64.toString());

      if (this.resultado.tipoPrueba === 'CONFIG') {
          var doc = new jsPDF();
          let list2 = [];
          var jsonList = [];
          try {
            jsonList = JSON.parse(this.resultado.outFileB64);
          } catch (error) {
                this.snackbar = true;
                this.msgSanck="No es posible generar evidencia pdf";
                this.colorSnack='red';
          }
      list2 = jsonList.nodos.map((l) => {
        return Object.keys(l).map((key) => {
          return [key.toUpperCase(), l[key]];
        });
      });
        this.arrEvidenciasAux= [
        {title: 'Anillo', description: this.resultado.anillo},
        {title: 'RFC', description: this.resultado.rfc},
        {title: 'Fecha', description: this.dateFin},
        {title: 'Ejecuto', description: this.resultado.username},
        {title: 'Tipo prueba', description: this.resultado.tipoPrueba},
        {title: 'Descripción', description: this.resultado.descripcion},
        {title: 'Configuración', description:  ''}
      ];
      var vm = this;
      var columns = [
        {title: "", dataKey: "title"},
        {title: "Descripción", dataKey: "description"}
      ];
      doc.text('Definición de Anillos', 20, 20);
      doc.autoTable(columns, vm.arrEvidenciasAux, {
        margin: { top: 25 },
      });      
      for (let index = 0; index < list2.length; index++) {
        if (index == 0) {
          doc.autoTable(["Propiedad", "Valor"], list2[index], {
            margin: { top: 50 },
          }); 
          doc.addPage();
        } 
        doc.autoTable(["Propiedad", "Valor"], list2[index]);
        if ((index + 1) % 2 == 0) {
          doc.addPage();
        }
      }
      doc.save('Evidencia.pdf');             
      } else {
      this.arrEvidenciasAux= [
        {title: 'Anillo', description: this.resultado.anillo},
        {title: 'RFC', description: this.resultado.rfc},
        {title: 'Fecha', description: this.dateFin},
        {title: 'Ejecuto', description: this.resultado.username},
        {title: 'Tipo prueba', description: this.resultado.tipoPrueba},
        {title: 'Descripción', description: this.resultado.descripcion},
        {title: 'Reporte', description:  document.getElementById("contentX").value}
      ];
      var vm = this;
      var columns = [
        {title: "", dataKey: "title"},
        {title: "Descripción", dataKey: "description"}
      ];
      var doc = new jsPDF('p', 'pt');
      doc.text('Reporte de evidencia de ejecución', 40, 40);
     doc.autoTable(columns, vm.arrEvidenciasAux, {
        margin: {top: 60},
      }); 
      doc.save('Evidencia.pdf');          
      }
    },  
     b64DecodeUnicode(str) {
          // Going backwards: from bytestream, to percent-encoding, to original string.
          return decodeURIComponent(atob(str).split('').map(function(c) {
              return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          }).join(''));
      }, 
     async detalleEvidencia(item){
       console.log(item);
       var outFileB64='';
       this.dialogoEvidenciaDetalle=true;

        if(item.outFileB64==null){
            item.outFileB64="";
        }
        //----------------------------------------
        try{
            var aux="";
            const response = await operations.outputFileEvidence({ evidenceId:item.id});
            console.log(response);
            if(response.status == "200"){
                if(response.data.code=='200'){
                    
                    try{
                      outFileB64  = this.b64DecodeUnicode(response.data.outputFileB64);
                    }catch(error){
                      outFileB64  = JSON.parse(atob(response.data.outputFileB64));
                    }

                   
                   
                    console.log("ok get reporte");
                 
                   console.log(outFileB64);
                   // var caracteres= outFileB64.toString().length;
                   // console.log(caracteres);
                    // try{
                    //         this.altura=caracteres * 2;
                    // }catch(error){
                    //     this.altura=600;
                    // }

                    // if(this.altura <600) this.altura=600;
                     this.resultado=item;
                     var resultadoTabular='';
                     if(Array.isArray(outFileB64)){
                         for(var i=0;i<outFileB64.length;i++){
                             resultadoTabular+= ((outFileB64[i]).log+'\n');
                         }
                       this.resultado.outFileB64=resultadoTabular;
                     }else{
                       this.resultado.outFileB64=outFileB64;
                     }
                    

                }else{
                    console.log("fail get reporte");
                  this.snackbar = true;
                  this.msgSanck=response.data;
                  this.colorSnack='red';
                  if(this.altura <600) this.altura=600;
                   this.resultado=item;
                }
            }
            this.overlay = false;
        }catch(error){
            console.log(error);
          console.log(error.response);
            this.overlay = false;
            this.snackbar = true;
            this.msgSanck="Error al obtener evidencias:" + error.response.data.response;
            this.colorSnack='red';
            if(this.altura <600) this.altura=600;
            this.resultado=item;
            return;
        }
        //---------------------------------------------------------------------------------------------
      
      },
     async bitacora(evento){
    
      try{
            const response = await operations.userLog({ funcionality:evento,username:this.$store.state.sesion.usuario});
            
            if(response.status == "200"){
                if(response.data.status=='C'){
                    console.log("registrado en bitacora ok");
                }else{
                 /* this.snackbar = true;
                  this.msgSanck=response.data;
                  this.colorSnack='red';*/
                }
            }
        }catch(error){
           /* this.overlay = false;
            this.snackbar = true;
            this.msgSanck="Error al registrar en bitacora:" + error.response.data;
            this.colorSnack='red';*/
            return;
        }
       },  
     searchEvidencias(){
         
        console.log('searching...');
       
        var arrAnillos=this.$store.state.anillosE;
          this.$store.state.anilloSeleccionadoE = null;

          for(var j=0; j<arrAnillos.length; j++){
            if(arrAnillos[j].id==this.$store.state.menuAnilloSeleccionadoE){
              this.$store.state.anilloSeleccionadoE = j;
              break;
            }else{
              this.$store.state.anilloSeleccionadoE=null;
            }
          }


        
        console.log(this.dateFin);
        console.log(this.tipoPrueba);
        console.log(this.descripcion);
        this.search();
     }, 
     async search(){
      //reset status to validated
      this.arrEvidencias=[];
      this.overlay = true;
      var strAnillo="";
      
      try{
          console.log(this.$store.state.anilloSeleccionadoE);

          if(this.$store.state.anilloSeleccionadoE==null){
            strAnillo="";
           }else{
                strAnillo=this.$store.state.anillosE[this.$store.state.anilloSeleccionadoE].anillo;
           }

            const response = await operations.searchEvidencia({ anillo:strAnillo,rfc:this.rfcBusqueda,
                                                                fechaEjecucion:this.dateFin,tipoPrueba:this.tipoPrueba,descripcion:this.descripcion
                                                                });
            console.log(response);
            if(response.status == "200"){
                if(response.data.status=='C'){
                  //asign data
                  this.arrEvidencias=response.data.evidences;
                  console.log("ok get evidences");
                   console.log(this.arrEvidencias);

                  if(this.arrEvidencias.length==0){
                     this.snackbar = true;
                     this.msgSanck="La consulta no encontró resultados";
                     this.colorSnack='red';
                  }

                }else{
                    console.log("fail get evidences");
                  this.snackbar = true;
                  this.msgSanck=response.data;
                  this.colorSnack='red';
                }
            }
            this.overlay = false;
        }catch(error){
            console.log(error);
          console.log(error.response);
            this.overlay = false;
            this.snackbar = true;
            this.msgSanck="Error al obtener evidencias:" + error.response.data.response;
            this.colorSnack='red';
            return;
        }
     },    
    },
    mounted(){
     this.bitacora("Entrando a consulta de evidencias");
    },
    created(){
      
    },
    computed: {
      getBackground(){
        return "/bg08.png";
      },
      //PAUL
      flatList() {
          let list = [];
          console.log(JSON.stringify(this.resultado.outFileB64));
          try {
           var jsonList = JSON.parse(this.resultado.outFileB64);
          list = jsonList.nodos.map((l) => {
              return Object.keys(l).map((key) => {
                  return [key, l[key]];
              });
          }); 
          } catch (error) {
            return null;
          }
          

          return [].concat.apply([],list);

      },
        //

      periodoMinimo(){
        return "2020-01";
       },
      periodoMaximo(){
         return new Date().toISOString();
       },  
      computedDateFormattedDatefns () {
        return this.date ? format(this.date, 'dddd, MMMM Do YYYY') : ''
      },
      getAnillos(){
            return this.$store.state.anillosE;
        },
    },
}
</script>

<style scoped>

</style>