<template>
  <div class="home" >
    <v-card id="homepage" name="homepage" elevation="3"  
    style="background-image: url(/bg08.png);background-size: contain;
    background-position: right top;background-repeat: no-repeat;"
    >
    <!-- https://www.pngfuel.com/free-png/auguj -->
      <v-container >
        <div style="height:100px"></div>
        <v-row class="text-center" >
          <v-col class="mb-4">
            <h1 class="display-2 font-weight-bold mb-1" style="margin-top:20px;font-size: 34px!important;">
              PRUEBAS DE REDUNDANCIA (PDR) v2.0
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  data: () => ({
    windowHeight: 0,
        porcePantalla:0,
    }),
  components: {
    
  },
  beforeDestroy() {
     
      window.removeEventListener('resize', this.getWindowHeight);
     
    },
  mounted(){
    

    this.$nextTick(function() {
        
        window.addEventListener
        this.getWindowHeight() 
      })
  },
  methods:{
    getWindowHeight(event) {
         
         this.windowHeight=document.documentElement.clientHeight;
          document.getElementById("homepage").style.height= (this.windowHeight-92)+"px";
         // document.getElementById("rowContenedor").style.border="dotted";
    },
    onResize () {
      
          var cambio = this.porcePantalla > window.innerHeight ? 0:1;
          this.porcePantalla= window.innerHeight;
          var mapAnillo= document.getElementById('homepage');
          var porcen = window.innerHeight-100;
          if(cambio != 0){
            porcen = porcen - 1;
          }else{
            porcen = porcen + 1;
          }
          mapAnillo.style.height= porcen + 'px';
          
        },
  }
}
</script>
