<template>

<v-app style="background-image: url('/bg08.png');background-position:center;background-repeat:no-repeat;background-size:cover;">
    <v-app-bar app color="white" height="80">
      
      <div class="d-flex align-center">
        <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%" src="/total_play_logo.png" transition="scale-transition" width="170px"/>
      </div>
      <v-spacer></v-spacer>
        <div style="font-size: 23px;font-weight: bolder;">Pruebas de redundancia (PDR) v2.0</div>
    </v-app-bar>

    <v-content >
      <section id="hero" >
        <v-row no-gutters>
            <v-theme-provider >
              <v-container fill-height>
                  <v-row align="center" class="black--text mx-auto" justify="center">
                 <v-card  width="320" class="elevation-14" style="margin-top:60px">
                    <v-card-title  style="background-color:#1e88e5;border-color: #1E88E5;color:white">
                      <span class="headline" style="text-align:center;width: 100%;">Ingrese sus credenciales</span></v-card-title>
                    <v-card-text>
                    <v-container>
                        <!-- formulario -->
                        <v-card class="elevation-0">
                            <v-form ref="form" v-model="formLoginValido" lazy-validation style="font-weight: bolder;">
                                <v-row class="mx-auto"  dense style="margin-top:15px">
                                    <v-col cols="12" md="12" sm="12" class="">
                                        <v-text-field :rules="campoRequerido"   label="Usuario" solo  maxlength="100"  style="font-size:12px;"  v-model="$store.state.sesion.usuario"  required ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row class="mx-auto"  dense style="margin-top:-15px">
                                    <v-col cols="12" md="12" sm="12" class="">
                                        <v-text-field  :rules="campoRequerido" type="password" solo label="Contraseña"    maxlength="100" style="font-size:12px" @keyup.enter="loginLdap"  v-model="$store.state.sesion.pwd"  required ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card>
                        <!-- formulario -->
                        <v-divider></v-divider>
                    </v-container></v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                  
                    <v-btn small dark color="blue darken-1"  @click="loginLdap" style="margin-right:22px">Ingresar</v-btn>
                    
                    </v-card-actions>
                </v-card>
                </v-row>
              </v-container>
            </v-theme-provider>
        </v-row>
      </section>
    </v-content>


    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>

     <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>
	
  </v-app>


    
</template>
<script>

import operations from '../operations';

export default {
    name: 'Ejecuciona',
  components:{
      
    },
    data(){
        return{
            formLoginValido:'',
            contrasenia:'',
            usuario:'',
            campoRequerido: [
             r => !!r || 'El campo es requerido'
             ],
            snackbar:false,
            colorSnack:'red',
            msgSanck:'Verifique los campos en rojo',
            mensaje:false,
            overlay:''
        }
    },
    methods:{ 
       b64DecodeUnicode(str) {
          // Going backwards: from bytestream, to percent-encoding, to original string.
          return decodeURIComponent(atob(str).split('').map(function(c) {
              return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          }).join(''));
      },
      async loginLdap(){
        this.overlay = true;

        //LDAP
        if(!this.$refs.form.validate()){
              this.snackbar=true;
              this.colorSnack='red';
              this.msgSanck='Todos los campos son requeridos';
              this.mensaje=false;
              this.overlay = false;
              return;
            }else{

              try{
                    //ambiente
                   //const response = await operations.LDAP({ user:this.$store.state.sesion.usuario, password:this.$store.state.sesion.pwd});
                   var response= {status:"200",
                                  data:{msg:"LDAP_SUCCESS"}};

                    if(response.status == "200"){
                       // if(response.data==true){
                        if(response.data.msg=="LDAP_SUCCESS"){
                          this.bitacora("Ingresando correctamente al portal de PDR");
                          console.log("Autenticación correcta en LDAP");
                        // this.$store.state.sesion.autenticado=true;
                          this.login();
                        }else{
                          this.overlay = false;

                          
                          this.snackbar = true;
                          this.msgSanck=response.data.msg =="" ? "Credenciales inválidas" : response.data.msg;
                          this.bitacora(this.msgSanck);
                          this.colorSnack='red';
                          this.$store.state.sesion.autenticado=false;
                          this.mensaje=false;
                          console.log("Credenciales inválidas");
                        }

                    }
                }catch(error){
                  
                    this.overlay = false;
                    //console.log(error);
                    console.log(error.response);
                    if(error.response==undefined){
                      this.snackbar = true;
                      this.msgSanck="Error :Al conectar con el servicio. " + error;
                      this.bitacora(this.msgSanck);
                      this.colorSnack='red';
                      this.mensaje=false;
                      return;
                    }
                      this.snackbar = true;
                      this.msgSanck="Error :" + error.response.data.response;
                      this.bitacora(this.msgSanck);
                      this.colorSnack='red';
                      this.mensaje=false;
                }
              
          }
      },
      async bitacora(evento){
    
      try{
            const response = await operations.userLog({ funcionality:evento,username:this.$store.state.sesion.usuario});
            
            if(response.status == "200"){
                if(response.data.status=='C'){
                    console.log("registrado en bitacora ok");
                }else{
                  /*this.snackbar = true;
                  this.msgSanck=response.data;
                  this.colorSnack='red';*/
                }
            }
        }catch(error){
            /*this.overlay = false;
            this.snackbar = true;
            this.msgSanck="Error al registrar en bitacora:" + error.response.data;
            this.colorSnack='red';*/
            return;
        }
       }, 
      async login(){

          if(!this.$refs.form.validate()){
            this.snackbar=true;
            this.colorSnack='red';
            this.msgSanck='Todos los campos son requeridos';
            this.mensaje=false;
            this.overlay = false;
            return;
          }else{

            try{
                  //el ws requiere mismo user and mismo pwd
                  const response = await operations.Login({ username:this.$store.state.sesion.usuario, password:this.$store.state.sesion.usuario});
                  //console.log(response);
                  if(response.status == "200"){
                      if(response.data=='El usuario SI se encuentra en el sistema'){
                        console.log("Autenticación correcta");
                        // this.$store.state.sesion.autenticado=true;
                        this.getFuncionalidades();
                        //this.$router.push('/');
                        return;
                      }else{
                        this.overlay = false;
                        this.snackbar = true;
                        this.msgSanck=response.data;
                        this.colorSnack='red';
                        this.$store.state.sesion.autenticado=false;
                        this.mensaje=false;
                        console.log("Credenciales inválidas");
                         }

                  }
              }catch(error){
                  this.overlay = false;
                  //console.log(error);
                  console.log(error.response);
                  if(error.response==undefined){
                      this.snackbar = true;
                      this.msgSanck="Error :Al conectar con el servicio " + error;
                      this.colorSnack='red';
                      this.mensaje=false;
                      return;
                    }
                  
                    this.snackbar = true;
                    this.msgSanck="Error :" + error.response.data.response;
                    this.colorSnack='red';
                    this.mensaje=false;
                  } 
                  

          }     
       },
       controlMenu(){
              this.$store.state.sesion.ejecucionAnillo=false;
              this.$store.state.sesion.configAnillos=false;
              this.$store.state.sesion.userAdmin=false;
              this.$store.state.sesion.historialEvidencias=false;
               this.$store.state.sesion.parametros=false;

          switch(this.$store.state.sesion.role){
            case 'ROLE_SUPER_ADMIN':{
              this.$store.state.sesion.ejecucionAnillo=true;
              this.$store.state.sesion.configAnillos=true;
              this.$store.state.sesion.userAdmin=true;
              this.$store.state.sesion.historialEvidencias=true;
               this.$store.state.sesion.parametros=true;
              break;
              } 
            case 'ROLE_USER_ADMIN':{
              this.$store.state.sesion.userAdmin=true;
              break;
              }   
            case 'ROLE_USER_LOAD':{//configura anillos
              this.$store.state.sesion.configAnillos=true;
              break;
              }
            case 'ROLE_USER_EXEC':{//ejecucion de pruebas
              this.$store.state.sesion.ejecucionAnillo=true;
              break;
              }  
            case 'ROLE_USER_EVIDENCE':{
              this.$store.state.sesion.historialEvidencias=true;
              break;
              }  
            
          }
       },
       async getFuncionalidades(){
            try{
                  const response = await operations.getFuncionalidades({ username:this.$store.state.sesion.usuario});
                  //console.log(response);
                  this.$store.state.sesion.menu=[];

                  if(response.data.code == "200"){
                        if(response.data.funcionalities !=null){
                            for(var i=0; i<response.data.funcionalities.length;i++){
                               this.$store.state.sesion.menu.push(response.data.funcionalities[i].menu);
                            }
                        }
                        this.$store.state.sesion.role=response.data.role; 
                        this.$store.state.sesion.autenticado=true; 
                        this.controlMenu();
                        this.$router.push('/');
                      
                  }else{
                    this.snackbar = true;
                    this.msgSanck=response.data;
                    this.colorSnack='red';

                    this.$store.state.sesion.autenticado=false;
                    this.mensaje=false;
                  }
              }catch(error){
                  this.overlay = false;
                  //console.log(error);
                  console.log(error.response);
                  if(error.response==undefined){
                    this.snackbar = true;
                    this.msgSanck="Error :Al conectar con el servicio " + error;
                    this.colorSnack='red';
                    return;
                  }

                  this.snackbar = true;
                  this.msgSanck="Error :" + error.response.data.response;
                  this.colorSnack='red';
                  this.mensaje=false;
              }  
       },

    }
}
</script>