<template>
<div class="NuevoAnillo">
    <v-card>
        <h1 class="text-center">Nuevo anillo</h1>
        <viewAnillo></viewAnillo>
    </v-card>
</div>
</template>

<script>
import viewAnillo from '../components/viewAnillo.vue';

export default {
    name: 'NuevoAnillo',
    components:{
      viewAnillo,
    },
}
</script>
