<template>
    <v-card class="mx-auto" color="white lighten-4" max-width="250" height="78" elevation="4">
    <v-card-title >
      <v-icon :color="checking ? 'red lighten-2' : 'indigo'" class="mr-4" size="24" @click="" style="margin-top:-20px">mdi-heart-pulse</v-icon>
      <v-row align="start" style="margin-top:-20px">
        <div style="word-break:break-word;margin-left: 40px;"><strong>{{titulo}}</strong></div>
      </v-row>
    </v-card-title>

    <v-sheet color="transparent" style="margin-top:-5px">
      <v-sparkline
        :key="sin"
        :smooth="8"
        :gradient="['green','lawngreen','greenyellow']"
        :line-width="7"
        :value="avance"
        stroke-linecap="round"
        height="55"
        :fill="fill"
        type="trend"
        padding="1"
        
        labelSize=15
      ></v-sparkline>
    </v-sheet>
  </v-card>
</template>


<script>
  

  export default {
    data: () => ({
      fill:true,
      checking: false,
      heartbeats: [0,0,0,0,0,0],
    }),
     props: ['titulo','avance'],
    computed: {
    sin(){
        return 1;
    }
    },
    created () {
      
    },
    methods: {
    
    },
  }
</script>
