<template>
<v-card class="mx-auto" style="width:99%;height:348px" >
    <v-card-text class="py-2">

      <v-timeline align-top dense >

        <v-timeline-item :color="$store.state.ejecucion.accesos2Color" small style="margin-top:-25px">
          <v-row  style="margin-top:-8px">
            <v-col cols="6">
              <strong><div style="width:120px">Accesos</div></strong>
               <v-btn :color="$store.state.ejecucion.accesosColor" depressed  width="150"  x-small  style="justify-content: start;margin-top:-12px;height: 16px;" >Validación accesos</v-btn>
                <v-btn :color="$store.state.ejecucion.permisosColor" depressed  width="150"  x-small  style="justify-content: start;margin-top:-12px;height: 16px;" >Validación permisos</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.datosColor" small style="margin-top:-30px">
          <v-row  style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px">Datos</div></strong>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[0].color" depressed  width="150" x-small  style="justify-content: start;margin-top:-16px;height: 16px;" >Ping LANWAN</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[1].color" depressed  width="150" x-small  style="justify-content: start;margin-top:-18px;height: 16px;" >OSPF</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[2].color" depressed  width="150" x-small  style="justify-content: start;margin-top:-18px;height: 16px;">BGP</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[3].color" depressed  width="150" x-small  style="justify-content: start;margin-top:-18px;height: 16px;">BGP ALL SUMM</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.serviciosColor" small style="margin-top:-48px">
          <v-row style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 8px;">Servicios</div></strong>
              <v-btn :color="$store.state.ejecucion.stepsEjecucionX[4].color"  depressed  x-small width="150" style="justify-content: start;margin-top:-14px;height: 16px;">Voz</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[5].color" depressed  x-small width="150" style="justify-content: start;margin-top:-18px;height: 16px;">Internet</v-btn>
              <!-- <div class="caption mb-2">Voz</div>
              <div class="caption mb-2">Internet</div> -->
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.protocolosColor" small style="margin-top:-48px">
          <v-row style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 8px;">Protocolos</div></strong>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[6].color" depressed  x-small width="150" style="justify-content: start;margin-top:-15px;height: 16px;">MPLS</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[7].color" depressed  x-small width="150" style="justify-content: start;margin-top:-17px;height: 16px;">Interfaces-LLDP</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[8].color" depressed  x-small width="150" style="justify-content: start;margin-top:-18px;height: 16px;">VRRP</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.evidenciasColor" small style="margin-top:-48px">
          <v-row style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 8px;">Evidencias</div></strong>
              <!-- <div class="caption mb-2">Evidencias - DSI</div> -->
              <v-btn :color="$store.state.ejecucion.stepsEjecucionX[9].color" depressed  x-small width="150" style="justify-content: start;margin-top:-8px;height: 16px;">Evidencias - DSI</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

      </v-timeline>

    </v-card-text>
  </v-card>
</template>


<script>
export default {
   data(){
    return{
      
    }
   },
  methods:{
    getWindowHeight(event) {
        
      },
  },
   mounted(){
      // this.$nextTick(function() {
      //     //window.addEventListener('resize', this.getWindowWidth);
      //     window.addEventListener('resize', this.getWindowHeight);
      //     //this.getWindowWidth()
      //     this.getWindowHeight();
      //   });
    },
}
</script>