<template>
  <v-card >
    <v-row class="mx-auto mr-1">
      <v-col cols="6" md="6" sm="12">
        <v-text-field
          label="Nombre del anillo"
          outlined
          dense
          v-model="$store.state.anillos[getIndex].anillo"
          :rules="nameRules"
          clearable
          required
          maxlength="250"
          @keydown="letrasNumerosDiagonal"
        ></v-text-field>
      </v-col>

      <v-spacer></v-spacer>
      <v-col cols="2" md="3" sm="12" class="mx-auto mt-n3 py-6" style>
        <v-select
          :disabled="$store.state.deshabilitadoPorRunning"
          small
          :items="$store.state.lstStatusAnillos"
          item-text="estatus"
          item-value="id"
          label="Estatus"
          v-model="$store.state.anilloEstatus"
          solo
        ></v-select>
      </v-col>
    </v-row>
    <!-- <span v-if="bErrorFormulario" style="margin-top: -54px;position: absolute;color: red;margin-left: 14px;" >{{errorFormulario}}</span> -->

    <v-row class="mx-auto" style="margin-top: -40px;">
      <v-col cols="12" md="12">
        <!-- <v-card class="mx-auto mt-n4 elevation-4" max-height="450" max-width="1300"> -->
        <v-card>      
          <v-data-table
            :items-per-page="pagSize"
            :headers="headers"
            widths
            :items="getAnillo"
            :footer-props="{
                                    showFirstLastPage: true,
                                    'items-per-page-text':'filas por página', 'items-per-page-all-text': 'todas',    
                                }"
            dense>
            <template v-slot:item.Acciones="{ item }" style="font-size:12px;">
              <v-icon class="mr-2" @click="editItem(item)">mdi-file-document-edit-outline</v-icon>
              <v-icon
                background-color="error"
                color="red"
                @click="deleteItem(item)"
              >mdi-delete-forever</v-icon>
            </template>
            <template 
            v-slot:footer.page-text="items"> {{ items.pageStart }} - {{ items.pageStop }} de {{ items.itemsLength }} 
            </template>
          </v-data-table>
          </v-card>
        <!-- </v-card> -->
      </v-col>
    </v-row>

    <!-- edicion del nodo (basarse en el de Anillos/nuevo nodo*****)-->
    <v-dialog v-model="editNodoFlag" persistent max-width="700px" style="zoom:90%!important">
      <v-card>
        <v-card-title>
          <span class="headline">Edición del nodo</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <!-- formulario -->
            <v-card class="elevation-2">
              <v-form ref="form" v-model="valid" lazy-validation style="font-weight: bolder;">
                <v-row class="mx-auto">
                  <v-col cols="2" md="2" sm="4" class>
                    <v-text-field
                      label="Orden"
                      outlined
                      dense
                      v-model="$store.state.editedNodo.valOrden"
                      style="margin-left:-8px;text-align:center;font-size:12px;"
                      :disabled="true"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="8" md="8" sm="6" class>
                    <!-- <v-text-field  label="Equipo" outlined dense v-model="$store.state.editedNodo.valNombreNodo" :rules="nameNodo" @keypress="soloLetrasNumerosGuionBajo" required maxlength="250"  style="right:-7px!important;"></v-text-field> -->
                    <v-select
                      v-model="$store.state.editedNodo.valNombreNodo"
                      :rules="nameNodo"
                      @change="changed"
                      :items="this.$store.state.ipsAnillos"
                      item-text="equipo"
                      label="Equipo"
                      required
                      dense
                      outlined
                    ></v-select>
                  </v-col>
                   <v-col cols="2" md="2" sm="2" class>
                        <v-img :src="this.iconoEquipo" height="50" style="width: 50px;height: auto;margin-top: -6px;"></v-img>
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-25px">
                  <v-col cols="6" md="6" sm="12" class>
                    <v-text-field
                      label="Ip equipo  (Máscara 0.0.0.0)"
                      id="ipEquipo"
                      name="ipEquipo"
                      v-model="$store.state.editedNodo.valIpEquipo"
                      :rules="ruleIpEquipo"
                      @keypress="soloIPs"
                      maxlength="15"
                      dense
                      outlined
                      style="font-size:12px"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" md="6" sm="12" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.valMPLS"
                      :rules="ruleMpls"
                      @keypress="soloIPs"
                      maxlength="15"
                      label="MPLS   (Máscara 0.0.0.0)"
                      id="ipMPLS"
                      name="ipMPLS"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-10px">
                  <v-col cols="12" md="12" sm="12" class>
                    <v-text-field
                      label="VRRP   (Máscara valor|valor)"
                      outlined
                      dense
                      maxlength="250"
                      style="font-size:12px"
                      :rules="ruleVRRP"
                      @keypress="soloLetrasNumerosGuionBajoDiagonalPipe"
                      v-model="$store.state.editedNodo.valVrrp"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-10px">
                  <v-col cols="6" md="6" sm="12" class>
                    <v-text-field
                      label="Interfaz"
                      outlined
                      dense
                      v-model="$store.state.editedNodo.valInterfaz"
                      maxlength="250"
                      style="font-size:12px"
                      :rules="ruleInterfaz"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" sm="12" md="3" class>
                    <v-select
                      small
                      :items="lstDown"
                      label="Down"
                      @change="validaRouters"
                      v-model="$store.state.editedNodo.valDown"
                      dense
                      outlined
                    ></v-select>
                    <!-- <v-autocomplete v-model="$store.state.editedNodo.valDown" :items="lstDown"  solo dense label="Down"  style="font-size:12px" ></v-autocomplete> -->
                  </v-col>
                  <v-col cols="6" sm="12" md="3" class>
                    <v-select
                      small
                      :items="lstLLDP"
                      label="LLDP"
                      v-model="$store.state.editedNodo.valLLDP"
                      dense
                      outlined
                    ></v-select>
                    <!-- <v-autocomplete v-model="$store.state.editedNodo.valLLDP" :items="lstLLDP" solo dense label="LLDP"  style="font-size:12px" ></v-autocomplete> -->
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-10px">
                  <v-col cols="5" sm="5" md="5" class>
                     <v-select
                      v-model="$store.state.editedNodo.valConectaCon"
                      :rules="nameNodo"
                      @change="changedConectaCon"
                      :items="this.$store.state.ipsAnillos"
                      item-text="equipo"
                      label="Conecta con"
                      required
                      dense
                      outlined
                    ></v-select>
                  </v-col>

                  <v-col cols="1" md="1" sm="1" class>
                        <v-img :src="this.iconoConectaCon" height="50" style="width: 50px;height: auto;margin-top: -3px;"></v-img>
                  </v-col>

                  <v-col cols="6" sm="6" md="6" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.valIpColector"
                      label="IP colector validación servicio datos ping   (0.0.0.0)"
                      maxlength="15"
                      :rules="ruleIpColector"
                      @keypress="soloIPs"
                      id="ipColector"
                      name="ipColector"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-8px">
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.valIpLANWAN"
                      label="IP Lan wan Validación servicio datos   (0.0.0.0)"
                      maxlength="15"
                      :rules="ruleIpLanWan"
                      @keypress="soloIPs"
                      id="ipLANWAN"
                      name="ipLANWAN"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.valIpOLT"
                      label="IP OLT   (0.0.0.0)"
                      id="ipOLT"
                      name="ipOLT"
                      maxlength="15"
                      :rules="ruleIpOLT"
                      @keypress="soloIPs"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="mx-auto" dense style="margin-top:-8px">
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.valPosONT"
                      label="Posición ONT   (0/0/0 0)"
                      id="posONT"
                      name="posONT"
                      maxlength="45"
                      :rules="rulePosONT"
                      @keypress="posONTValidacion"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      v-if="casoIpDestino"
                      label="IP destino validación internet ONT   (www.domain.com)"
                      v-model="$store.state.editedNodo.valIpDestino"
                      :rules="ruleIpDestino"
                      @keypress="posIPDEstinoalidacion"
                      outlined
                      dense
                      maxlength="250"
                      style="font-size:12px"
                    ></v-text-field>
                    <v-text-field
                      v-else
                      v-model="$store.state.editedNodo.valIpDestino2"
                      label="IP destino validación internet ONT   (0.0.0.0)"
                      maxlength="250"
                      :rules="ruleIpNoRequerida"
                      @keypress="soloIPsValIpDestino"
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                </v-row>



                 <v-row class="mx-auto" dense style="margin-top:-8px">
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      v-model="$store.state.editedNodo.modelo"
                      label="Modelo del equipo"
                      id="modelo"
                      name="modelo"
                      maxlength="10"
                      :rules="ruleModelo"
             
                      dense
                      outlined
                      style="font-size:12px"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" sm="12" md="6" class>
                    <v-text-field
                      label="versión del equipo"
                      v-model="$store.state.editedNodo.version"
                      :rules="ruleVersion"
                  
                      outlined
                      dense
                      maxlength="18"
                      style="font-size:12px"
                    ></v-text-field>
                    
                  </v-col>
                </v-row>

                
              </v-form>
            </v-card>
            <!-- formulario -->
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cerrarEdicionNodo">Cancelar</v-btn>
          <v-btn color="blue darken-1" :disabled="this.permiteAplicar" text @click="validate">Aplicar</v-btn>
        </v-card-actions>
      </v-card>
            <v-snackbar v-model="snackbar" color="red">
      {{ msgSanck }}
      <v-btn text @click="snackbar = false">Cerrar</v-btn>
    </v-snackbar> 
    </v-dialog>


  </v-card>

</template>

<script>
import operations from "../operations";
import servidor from '../config'

export default {
  name: "viewAnillo",
  data: () => ({
    permiteAplicar:false,
    iconoConectaCon:"",
    iconoEquipo:"",
    itemEquipoTemp: "",
    casoIpDestino: true,
    errorNuevoNodo: false,
    errorNuevoNodoIp: false,
    errorvalPosONT: false,
    bErrorFormulario: false,
    errorFormulario: "",
    snackbar: false,
    msgSanck: "",
    pagSize: 10,
    editNodoFlag: false,
    valDown: "",
    //valNombreNodo:'',
    valid: true,
    show2: false,
    show3: false,
    show4: false,
    nombreAnillo: "",
    ruleMpls: [
              r => {
                  if (r) return /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(r) || 'Formato incompleto de IP';
                  else return true;
              } 
    ],
    ruleIpOLT: [
              r => {
                  if (r) return  /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(r) || 'Formato incompleto de IP';
                  else return true;
              } 
    ],
    ruleIpColector: [
              r =>{
                  if (r) return /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(r) || 'Formato incompleto de IP';
                  else return true;
              } 
    ],
    ruleIpLanWan: [
              r => {
                  if (r) return /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(r) || 'Formato incompleto de IP';
                  else return true;
              } 
    ],
            ruleIpDestino:[
               r => {
                   if (r) return /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/g.test(r) || 'Formato requerido www.domain.com para IP Destino';
                   else return true;
               } 
               
             ],
    rulePosONT: [
               r => {
                   if (r) return /^[0-99]+[/.0-99]+[/.0-99]+ [0-99]+$/g.test(r) || 'Formato requerido 0/0/0 0 para Posición ONT';
                   else return true;
               } 
    ],
    ruleMascara1: [
      r => !!r || "El campo es requerido",
      r =>
        (r && r.length >= 3 && r.length <= 50) ||
        "Longitud entre 3 y 50 carácteres",
      r => /^[A-Za-z0-9_ -\s]+$/g.test(r) || "Solo se aceptan letras y números" //'Solo letras y números',
    ],
    ruleVRRP: [
              r => {
                  if (r) return (r && (r.length >= 1 && r.length <= 100) ) || 'Longitud entre 1 y 100 carácteres';
                  else return true
              }
              ,
               r => {
                  if (r) return /^[A-Za-z0-9~|._\/ -]+$/g.test(r) || 'Solo se aceptan letras y números separadas por 1 pipe';
                                    else return true;
              }
              // r => {
              //     if (r) return /^[A-Za-z0-9._\/ -]+[\|]+[A-Za-z0-9._\/ -]+$/g.test(r) || 'Solo se aceptan letras y números separadas por 1 pipe';
              //                       else return true;
              // }
    ],
    ruleInterfaz: [
      r => !!r || "El campo es requerido",
      r =>
        (r && r.length >= 3 && r.length <= 150) ||
        "Longitud entre 3 y 150 carácteres",
      r => /^[A-Za-z0-9|_ /]+$/g.test(r) || "Solo se aceptan letras y números y diagonales" //'Solo letras y números',
    ],
    ruleIpEquipo: [
      r => !!r || "El campo es requerido",
      r =>
        /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
          r
        ) || "Formato incompleto de IP"
    ],
    ruleIpNoRequerida: [
      r =>
        /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
          r
        ) || "Formato incompleto de IP"
    ],
    campoRequerido: [r => /^[A-Za-z0-9\s]+$/g.test(r) || ""],
    nameRules: [
      r => !!r || "El nombre es requerido",
      r =>
        (r && r.length >= 3 && r.length <= 50) ||
        "Longitud entre 3 y 50 carácteres",
      r => /^[A-Za-z0-9_.\s]+$/g.test(r) || "Carácteres extraños no válidos" //'Solo letras y números',
    ],
    ruleIpDestino2: [
      r =>
        /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
          r
        ) || "Formato incompleto de IP"
    ],
    nameNodo: [
              r => !!r || 'El campo es requerido',
              //r => (r && (r.length >= 3 && r.length <= 50) ) || 'Longitud entre 3 y 50 carácteres',
              //r => /^[A-Za-z0-9_ -\s]+$/g.test(r) || 'Solo se aceptan letras y números',
    ],
   ruleModelo:[
       r => {
                if (r) return /^[A-Za-z0-9\s]+$/g.test(r) || 'Carácteres extraños no válidos';
                else return true;
             } ,
       r =>  {
                if(r) return (r && r.length >= 4 && r.length <= 10) || 'Longitud entre 4 y 10 carácteres';
                else return true;
             }
    ],
     ruleVersion:[
       r => {
                if (r) return /^[A-Za-z0-9\s]+$/g.test(r) || 'Carácteres extraños no válidos';
                else return true;
             } ,
       r =>  {
                if(r) return (r && r.length >= 4 && r.length <= 18) || 'Longitud entre 4 y 18 carácteres';
                else return true;
             }
    ],
    ipDest: [q => !!q || ""],
    modinterfazr: [t => /^[A-Za-z0-9/\s]+$/g.test(t) || ""],
    configAnillo: null,
    stAnillos: false,
    valCconr: [a => /^[A-Za-z0-9/\s]+$/g.test(a) || ""],
    lstLLDP: ["SI", "NO"],
    showGuardar: false,
    lstDown: ["SI", "NO"],
    configuraexistentes: ["Confuguracion1", "Confuguracion2", "Confuguracion3"],
    tequipos: ["ROUTER", "SWITCH", "WIRELESS"],
    content: false,
    card1: 0,
    card2: 0,
    item: null,
    show: null,
    value: "",
    headers: [
      {
        text: "Orden",
        value: "orden",
        divider: true,
        width: 90,
        align: "center"
      },
      {
        text: "Equipo",
        value: "equipo",
        divider: true,
        width: 200,
        align: "center"
      },
      {
        text: "Down",
        value: "down",
        divider: true,
        width: 90,
        align: "center"
      },
      { text: "Ip", value: "ip", divider: true, width: 50, align: "center" },
      {
        text: "MPLS",
        value: "mpls",
        divider: true,
        width: 50,
        align: "center"
      },
      { text: "VRRP", value: "vrrp", divider: true, width: 330, align: "left" },
      {
        text: "Interfaz",
        value: "interfaz",
        divider: true,
        width: 50,
        align: "center"
      },
      //{ text: 'Down', value: 'down', divider: true,  width: 90, align: 'center', },
      {
        text: "LLDP",
        value: "lldp",
        divider: true,
        width: 90,
        align: "center"
      },
      {
        text: "Conecta con",
        value: "conectacon",
        divider: true,
        width: 200,
        align: "center",
        filterable: false
      },
      {
        text: "Ip colector",
        value: "ipcolectorvalidacionserviciodatosping",
        divider: true,
        width: 120,
        align: "center"
      },
      {
        text: "Ip LAN WAN ",
        value: "iplanwanvalidacionserviciodatos",
        divider: true,
        width: 130,
        align: "center"
      },
      {
        text: "Ip OLT",
        value: "ipolt",
        divider: true,
        width: 100,
        align: "center"
      },
      {
        text: "Posición ONT",
        value: "posont",
        divider: true,
        width: 130,
        align: "center"
      },
      {
        text: "Ip destino validación",
        value: "ipdestinovalidacioninternetont",
        divider: true,
        width: 170,
        align: "center"
      },
      {
        text: "Modelo",
        value: "modelo",
        divider: true,
        width: 170,
        align: "center"
      },
      {
        text: "Versión",
        value: "version",
        divider: true,
        width: 170,
        align: "center"
      },
      {
        text: "",
        value: "Acciones",
        sortable: false,
        filterable: false,
        divider: true,
        width: 90,
        align: "center"
      }
    ],
    nodosAnillo: [],
    editedNodo: {},
    defaultNodo: {
      valNombreNodo: "",
      valIpEquipo: "",
      valMPLS: "",
      valVrrp: "",
      valOrden: "",
      valInterfaz: "",
      valDown: null,
      valLLDP: null,
      valConectaCon: "",
      valIpColector: "",
      valIpLANWAN: "",
      valIpOLT: "",
      valPosONT: "",
      valIpDestino: ""
    },
    editedIndex: -1,
    editaAnillo: false,
    // PAUL
    selectAnillo: {}
    //
  }),
  methods: {
            // PAUL
    checkDuplicates(val) {
        if (this.$store.state.anillos[this.$store.state.indexEdit].nodos.some(function (item) {return item.equipo === val.trim().toUpperCase() })) {
            return false;
        } else {
            return true;
        }
        },
        //  
    dobleclick() {
      document.getElementById("auxValidate").click();
    },
    cerrarEdicionNodo() {
      this.editNodoFlag = false;
      //this.$refs.form.reset();
      
      this.$refs.form.resetValidation();
    },
    posONTValidacion(tecla) {
      var texto = tecla.key;
      if (texto == "/") return true;

      var reg = /^[0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    resetValidacionControlIPDestino() {
      if (this.$store.state.editedNodo.valIpDestino.trim().length == 0) {
        try {
          this.ruleIpDestino = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleIpDestino = [
          r =>
            /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/g.test(
              r
            ) || "Formato requerido www.domain.com para IP Destino"
        ];
      }

      //validate if is a valid field before clear it
      if (
        !/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/g.test(
          this.$store.state.editedNodo.valIpDestino
        )
      ) {
        //console.log("no  resetValidacionControlIPDestino");
        if (this.$store.state.editedNodo.valIpDestino.trim().length <= 2) {
          this.$store.state.editedNodo.valIpDestino = "";

          try {
            this.$refs.form.resetValidation();
          } catch (error) {}
        }
      }
    },
    resetValidacionControlIPDestino2() {
      if (this.$store.state.editedNodo.valIpDestino2.trim().length == 0) {
        try {
          this.ruleIpDestino2 = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleIpDestino2 = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      }

      if (this.$store.state.editedNodo.valIpDestino2 == null)
        this.$store.state.editedNodo.valIpDestino2 = "";
      //validate if is a valid field before clear it
      //if (  !(/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/g.test(this.$store.state.editedNodo.valIpDestino))    ) {
      if (
        !/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(
          this.$store.state.editedNodo.valIpDestino
        )
      ) {
      //  console.log("resetValidacionControlIPDestino2");
        if (this.$store.state.editedNodo.valIpDestino2.trim().length <= 2) {
          this.$store.state.editedNodo.valIpDestino2 = "";
          this.$refs.form.resetValidation();
        }
      }
    },
    resetValidacionControlONTValidacion() {
     // console.log("on blur resetValidacionControlONTValidacion");
      if (this.$store.state.editedNodo.valPosONT.trim().length == 0) {
        try {
          this.rulePosONT = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.rulePosONT = [
          r =>
            /^[0-99]+[/.0-99]+[/.0-99]+ [0-99]+$/g.test(r) ||
            "Formato requerido 0/0/0 0 para Posición ONT"
        ];
      }

      //validate if is a valid field before clear it
      if (
        !/^[0-99]+[/.0-99]+[/.0-99]+ [0-99]+$/g.test(
          this.$store.state.editedNodo.valPosONT
        )
      ) {
       // console.log("no  resetValidacionControlONTValidacion");
        if (this.$store.state.editedNodo.valPosONT.trim().length <= 2) {
          this.$store.state.editedNodo.valPosONT = "";

          try {
            this.$refs.form.resetValidation();
          } catch (error) {}
        }
      }
    },
    resetValidacionControlValIpColector() {
      if (this.$store.state.editedNodo.valIpColector.trim().length == 0) {
        try {
          this.ruleIpColector = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleIpColector = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      }

      //validate if is a valid field before clear it
      if (
        !/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(
          this.$store.state.editedNodo.valIpColector
        )
      ) {
        if (this.$store.state.editedNodo.valIpColector.trim().length <= 2) {
          this.$store.state.editedNodo.valIpColector = "";
          try {
            this.$refs.form.resetValidation();
          } catch (error) {}
        }
      }
    },
    resetValidacionControlValIpLANWAN() {
      if (this.$store.state.editedNodo.valIpLANWAN.trim().length == 0) {
        try {
          this.ruleIpLanWan = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleIpLanWan = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      }

      //validate if is a valid field before clear it
      if (
        !/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(
          this.$store.state.editedNodo.valIpColector
        )
      ) {
        //clear it
        if (this.$store.state.editedNodo.valIpLANWAN.trim().length <= 2) {
          this.$store.state.editedNodo.valIpLANWAN = "";

          try {
            this.$refs.form.resetValidation();
          } catch (error) {}
        }
      }
    },
    resetValidacionControlValIpOLT() {
      if (this.$store.state.editedNodo.valIpOLT.trim().length == 0) {
        try {
          this.ruleIpOLT = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleIpOLT = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      }

      if (
        !/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(
          this.$store.state.editedNodo.valIpColector
        )
      ) {
        //clear it
        if (this.$store.state.editedNodo.valIpOLT.trim().length <= 2) {
          this.$store.state.editedNodo.valIpOLT = "";

          try {
            this.$refs.form.resetValidation();
          } catch (error) {}
        }
      }
    },
    resetValidacionControlValNombreNodo() {
      if (this.$store.state.editedNodo.valNombreNodo.trim().length == 0) {
        try {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        } catch (error) {}
      }
    },
    resetValidacionControlValIpEquipo() {
      if (this.$store.state.editedNodo.valIpEquipo.trim().length == 0) {
        try {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        } catch (error) {}
      }
    },
    resetValidacionControlValInterfaz() {
      if (this.$store.state.editedNodo.valInterfaz.trim().length == 0) {
        try {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        } catch (error) {}
      }
    },
    resetValidacionControlValInterfaz() {
      if (this.$store.state.editedNodo.valInterfaz.trim().length == 0) {
        try {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        } catch (error) {}
      }
    },
    resetValidacionControlValVrrp() {
      if (this.$store.state.editedNodo.valVrrp.trim().length == 0) {
        try {
          this.ruleVRRP = [];
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleVRRP = [
          r => !!r || "El campo es requerido",
           r =>
            /^[A-Za-z0-9~|._\/ -]+$/g.test(r) ||
            "Solo se aceptan letras y números separadas por 1 pipe",
          // r =>
          //   /^[A-Za-z0-9._\/ -]+[\|]+[A-Za-z0-9._\/ -]+$/g.test(r) ||
          //   "Solo se aceptan letras y números separadas por 1 pipe",
          r =>
            (r && r.length >= 1 && r.length <= 100) ||
            "Longitud entre 1 y 100 carácteres"
        ];
      }
    },
    resetValidacionControlValMpls() {
      if (this.$store.state.editedNodo.valMPLS.trim().length == 0) {
        try {
          this.ruleMpls = [];

          this.$refs.form.resetValidation();
          this.$refs.form.validate();
          return;
        } catch (error) {}
      } else {
        this.ruleMpls = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      }
    },
    resetValidacionControlValConectacon() {
      if (this.$store.state.editedNodo.valConectaCon.trim().length == 0) {
        try {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        } catch (error) {}
      }
    },
    soloLetrasNumeros: function(tecla) {
      var texto = tecla.key;
      var reg = /^[A-Za-z0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    soloLetrasNumerosGuionBajoDiagonalPipe(tecla) {
      var texto = tecla.key;

      if (texto == "_") return true;
      if (texto == "/") return true;
      if (texto == ".") return true;
      if (texto == "|") {
        if (this.$store.state.editedNodo.valVrrp.includes("|")) {
          tecla.preventDefault();
          return false;
        } else {
          return true;
        }
      }

      var reg = /^[A-Za-z0-9_\/ -]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    soloLetrasNumerosGuionBajoDiagonal(tecla) {
      var texto = tecla.key;

      if (texto == "_") return true;
      if (texto == "/") return true;

      var reg = /^[A-Za-z0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    soloLetrasNumerosGuionBajo(tecla) {
      var texto = tecla.key;

      if (texto == "_") return true;

      var reg = /^[A-Za-z0-9_ -\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    soloIPs: function(tecla) {
      var texto = tecla.key;

     // console.log(texto);

      if (texto == ".") return true;

      var reg = /^\d+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    soloIPsValIpDestino: function(tecla) {
      //modo IP
      var texto = tecla.key;
     // console.log(texto);

      if (this.$store.state.editedNodo.valIpDestino2 == null)
        this.$store.state.editedNodo.valIpDestino2 = "";
      //si NO empieza con numero
      if (
        !(
          this.$store.state.editedNodo.valIpDestino2.startsWith(1) ||
          this.$store.state.editedNodo.valIpDestino2.startsWith(2)
        )
      ) {
        this.casoIpDestino = true;
        this.$store.state.editedNodo.valIpDestino = this.$store.state.editedNodo.valIpDestino2;
        this.$store.state.editedNodo.valIpDestino2 = "";
        //console.log("cambio a modo WWW");
        return;
      }

      if (texto == ".") return true;

      var reg = /^\d+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    posIPDEstinoalidacion(tecla) {
      //funcion de wwww
      var texto = tecla.key;

      if (this.$store.state.editedNodo.valIpDestino == null)
        this.$store.state.editedNodo.valIpDestino = "";
      if (
        this.$store.state.editedNodo.valIpDestino.startsWith(1) ||
        this.$store.state.editedNodo.valIpDestino.startsWith(2)
      ) {

        this.$store.state.editedNodo.valIpDestino2 = this.$store.state.editedNodo.valIpDestino;

        this.$store.state.editedNodo.valIpDestino = "";
        this.casoIpDestino = false;
        //console.log("cambio a modo IP");
        return;
      }

      if (texto == "/") return true;
      if (texto == ":") return true;
      if (texto == ".") return true;

      var reg = /^[A-Za-z0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    getNoNodos() {
      var arrAnillos = this.$store.state.anillos[
        this.$store.state.indexAnilloEdit
      ].nodos;
      var arrInfoAnillo;
      var arrequipos = [];
      var nodoconeCon = [];
      for (
        var re = 0;
        re <
        this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos
          .length;
        re++
      ) {
        arrequipos.push(
          this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[re]
        );
      }
      for (
        var res = 0;
        res <
        this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos
          .length;
        res++
      ) {
        var resequipoConCon =
          this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[
            res
          ].conectaCon == null
            ? ""
            : this.$store.state.anillos[this.$store.state.indexAnilloEdit]
                .nodos[res].conectaCon == undefined
            ? ""
            : this.$store.state.anillos[
                this.$store.state.indexAnilloEdit
              ].nodos[res].conectaCon
                .toUpperCase()
                .trim();
        if (resequipoConCon == "") continue;
        var pos = -1;
        for (var cc = 0; cc < arrequipos.length; cc++) {
          if (resequipoConCon == arrequipos[cc].equipo) {
            pos = cc;
          }
        }
        if (pos < 0) {
          var pos1 = -1;
          for (var cc = 0; cc < nodoconeCon.length; cc++) {
            if (resequipoConCon == nodoconeCon[cc].coneCon[0].equipo) {
              pos1 = cc;
            }
          }
          if (pos1 < 0) {
            var nodotemp = [
              {
                equipo: resequipoConCon,
                orden: "",
                equipo: resequipoConCon,
                ip: "",
                tipo: "",
                mpls: "",
                interfaz: "",
                down: "",
                conectaCon: "",
                ipOlt: "",
                posONT: ""
              }
            ];
            nodoconeCon.push({ coneCon: nodotemp, index: res });
          }
        }
      }
      for (var s = 0; s < nodoconeCon.length; s++) {
        arrequipos.splice(
          Number.parseInt(nodoconeCon[s].index) + 1 + s,
          0,
          nodoconeCon[s].coneCon[0]
        );
      }

      return arrequipos.length;
    },
    initAnillo() {
      if (this.$store.state.modoEdicion == true) {
        this.$store.state.indexEdit = this.$store.state.indexAnilloEdit;
        this.$store.state.anilloAeditar = this.$store.state.anillos[
          this.$store.state.indexEdit
        ];
        this.editedNodo.valOrden =
          this.$store.state.anillos[this.$store.state.indexEdit].nodos.length +
          1;
      } else if (this.$store.state.modoNuevoAnillo == true) {
        var newAnillo = {
          id: this.$store.state.anillos.length + 1,
          anillo: "Nuevo anillo",
          estatus: "1",
          noNodos: 0,
          version: 1,
          nodos: []
        };

        this.$store.state.anillos.push(newAnillo);
        //console.log("agregando item a anillo...initanillo");
        //console.log(newAnillo);

        this.$store.state.indexEdit = this.$store.state.anillos.length - 1; //<----
        this.$store.state.anilloAeditar = this.$store.state.anillos[
          this.$store.state.indexEdit
        ];

        this.editedNodo.valOrden =
          this.$store.state.anillos[this.$store.state.indexEdit].nodos.length +
          1;
        this.$store.state.indexAnilloEdit = this.$store.state.indexEdit;
      }
    },
    soloLetras: function(e) {
      var key = e.keyCode || e.which;
      var tecla = String.fromCharCode(key).toLowerCase();
      var letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
      var especiales = "8-37-39-46";

      var tecla_especial = false;
      for (var i in especiales) {
        if (key == especiales[i]) {
          tecla_especial = true;
          break;
        }
      }
      if (letras.indexOf(tecla) == -1 && !tecla_especial) {
        return false;
      }
    },
    soloLetrasNumeros: function(tecla) {
      //enablecontroles("#txtNomSolicitantenew");
      var texto = tecla.key;
      var reg = /^[A-Za-z0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    letrasNumerosDiagonal: function(tecla) {
      var texto = tecla.key;
      var reg = /^[A-Za-z0-9_.\s]+$/g;
      if (reg.test(texto)) {
        //console.log("ok");
        this.bErrorFormulario = false;
        return true;
      } else {
        //console.log("fail");
        tecla.preventDefault();
        return false;
      }
    },
    soloformatoIP: function(tecla) {
      //enablecontroles("#txtNomSolicitantenew");

      var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
      var texto = tecla;
      if (ipformat.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    reset() {
      this.$refs.form.resetValidation();
      //this.nombreAnillo='';
      this.$store.state.valNombreNodo = "";
      this.$store.state.editedNodo.valIpEquipo = "";
      this.$store.state.editedNodo.valMPLS = "";
      this.$store.state.editedNodo.valVrrp = "";
      this.$store.state.editedNodo.valOrden =
        this.$store.state.anillos[this.$store.state.indexEdit].nodos.length + 1;
      this.$store.state.editedNodo.valInterfaz = "";
      this.$store.state.editedNodo.valDown = null;
      this.$store.state.editedNodo.valLLDP = null;
      this.$store.state.editedNodo.valConectaCon = "";
      this.$store.state.editedNodo.valIpColector = "";
      this.$store.state.editedNodo.valIpLANWAN = "";
      this.$store.state.editedNodo.valIpOLT = "";
      this.$store.state.editedNodo.valPosONT = "";

      this.$store.state.editedNodo.modelo = "";
      this.$store.state.editedNodo.version = "";
      
      this.$store.state.editedNodo.valIpDestino = "";
      this.$store.state.editedIndex = -1;
    },
    validate() {
      this.snackbar = false;
      this.agregartoGrid();
    },
    agregartoGrid() {

      if (this.$refs.form.validate()) {

        if (this.$store.state.editedIndex > -1) {
          //console.log("update nodo....");
          var nomNodo = this.$store.state.editedNodo.valNombreNodo.trim().toUpperCase();
          if (this.$store.state.anillos[this.$store.state.indexEdit].nodos.some(function(item){ return item.equipo === nomNodo;})
           && (this.itemEquipoTemp != nomNodo)) {
           // console.log("nodo Repetido....");
              this.nameNodo= [r => !!r || 'El campo es requerido',r => (this.checkDuplicates(r)) || `El nodo "${r}" ya existe`,];
              this.snackbar = true;
              this.colorSnack = "red";
              this.msgSanck = "Verifique los campos en rojo";

        } else {
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo = this.$store.state.editedNodo.valNombreNodo.trim().toUpperCase();
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].orden = this.$store.state.editedNodo.valOrden;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ip = this.$store.state.editedNodo.valIpEquipo;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].mpls = this.$store.state.editedNodo.valMPLS;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].vrrp = this.$store.state.editedNodo.valVrrp;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].interfaz = this.$store.state.editedNodo.valInterfaz.trim().toUpperCase();
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].down = this.$store.state.editedNodo.valDown;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].lldp = this.$store.state.editedNodo.valLLDP;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].conectacon = this.$store.state.editedNodo.valConectaCon;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipcolectorvalidacionserviciodatosping = this.$store.state.editedNodo.valIpColector;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].iplanwanvalidacionserviciodatos = this.$store.state.editedNodo.valIpLANWAN;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipolt = this.$store.state.editedNodo.valIpOLT;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].posont = this.$store.state.editedNodo.valPosONT;

              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].modelo = this.$store.state.editedNodo.modelo;
              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].version = this.$store.state.editedNodo.version;


              this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipdestinovalidacioninternetont = this.casoIpDestino
              ? this.$store.state.editedNodo.valIpDestino : this.$store.state.editedNodo.valIpDestino2;
              this.nameNodo= [r => !!r || 'El campo es requerido',];
              this.editNodoFlag = false; 
        }          
        } else {
              //   console.log("nuevo nodo....");

            var newNodoAdd = {
                equipo: this.valNombreNodo.trim().toUpperCase(),
                orden: this.editedNodo.valOrden,
                ip: this.editedNodo.valIpEquipo,
                mpls: this.editedNodo.valMPLS,
                vrrp: this.editedNodo.valVrrp,
                interfaz: this.editedNodo.valInterfaz.trim().toUpperCase(),
                down: this.editedNodo.valDown,
                lldp: this.editedNodo.valLLDP,
                conectacon: this.editedNodo.valConectaCon,
                ipcolectorvalidacionserviciodatosping: this.editedNodo.valIpColector,
                iplanwanvalidacionserviciodatos: this.editedNodo.valIpLANWAN,
                ipolt: this.editedNodo.valIpOLT,
                posont: this.editedNodo.valPosONT,
                modelo: this.editedNodo.modelo,
                version: this.editedNodo.version,
                ipdestinovalidacioninternetont: this.casoIpDestino
                  ? this.$store.state.editedNodo.valIpDestino
                  : this.$store.state.editedNodo.valIpDestino2 
            };

            this.$store.state.anillos[this.$store.state.indexEdit].nodos.push(newNodoAdd);
            this.$store.state.anillos[this.$store.state.indexEdit].noNodos = this.$store.state.anillos[this.$store.state.indexEdit].nodos.length;
            this.reset();
            this.$refs.form.resetValidation();
        }

        
      } else {
        this.snackbar = true;
        this.colorSnack = "red";
        this.msgSanck = "Verifique los campos en rojo";
      }

    },
    async bitacora(evento) {
      try {
        const response = await operations.userLog({
          funcionality: evento,
          username: this.$store.state.sesion.usuario
        });

        if (response.status == "200") {
          if (response.data.status == "C") {
            console.log("registrado en bitacora ok");
          } else {
          
          }
        }
      } catch (error) {
     
        return;
      }
    },
    resetRules2Empties() {
      //valMPLS
      if (this.$store.state.editedNodo.valMPLS.trim().length == 0)
        this.ruleMpls = [];
      else
        this.ruleMpls = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      //valVrrp
      if (this.$store.state.editedNodo.valVrrp.trim().length == 0)
        this.ruleVRRP = [];
      else
        this.ruleVRRP = [
          r => !!r || "El campo es requerido",
          r =>
            /^[A-Za-z0-9~|._\/ -]+$/g.test(r) ||
            "Solo se aceptan letras y números separadas por 1 pipe",
          // r =>
          //   /^[A-Za-z0-9._\/ -]+[\|]+[A-Za-z0-9._\/ -]+$/g.test(r) ||
          //   "Solo se aceptan letras y números separadas por 1 pipe",
          r =>
            (r && r.length >= 1 && r.length <= 100) ||
            "Longitud entre 1 y 100 carácteres"
        ];
      //valIpColector
      if (this.$store.state.editedNodo.valIpColector.trim().length == 0)
        this.ruleIpColector = [];
      else
        this.ruleIpColector = this.ruleIpColector = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      //valIpLANWAN
      if (this.$store.state.editedNodo.valIpLANWAN.trim().length == 0)
        this.ruleIpLanWan = [];
      else
        this.ruleIpLanWan = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      //valIpOLT
      if (this.$store.state.editedNodo.valIpOLT.trim().length == 0)
        this.ruleIpOLT = [];
      else
        this.ruleIpOLT = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
      //valPosONT
      if (this.$store.state.editedNodo.valPosONT.trim().length == 0)
        this.rulePosONT = [];
      else
        this.rulePosONT = [
          r =>
            /^[0-99]+[/.0-99]+[/.0-99]+ [0-99]+$/g.test(r) ||
            "Formato requerido 0/0/0 0 para Posición ONT"
        ];

      //valIpDestino
      if (this.$store.state.editedNodo.valIpDestino.trim().length == 0)
        this.ruleIpDestino = [];
      else
        this.ruleIpDestino = [
          r =>
            /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/g.test(
              r
            ) || "Formato requerido www.domain.com para IP Destino"
        ];

      //valIpDestino2
      if (this.$store.state.editedNodo.valIpDestino2.trim().length == 0)
        this.ruleIpDestino2 = [];
      else
        this.ruleIpDestino2 = [
          r =>
            /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/g.test(
              r
            ) || "Formato incompleto de IP"
        ];
    },
    //PAUL
    async getIpsAnillos() {
      try {
        var anill = this.$store.state.anillos[this.$store.state.indexEdit].anillo.trim();
        //this.$store.state.anillos[this.$store.state.indexEdit].anillo.trim();
         this.$store.state.ipsAnillos = null;
        console.log(">>>>" + anill);
        const response = await operations.getIpAnillo(anill);

        if (response.status == "200") {
          if (response.data.status == "C") {
            //console.log("consulta getIpAnillos ok");
            this.$store.state.ipsAnillos = response.data.ipList;
            if (this.$store.state.ipsAnillos == null) {
                this.$store.state.ipsAnillos=[];
                this.snackbar=true;
                this.colorSnack='red';
                this.msgSanck='¡El anillo ingresado no tiene una configuración válida!';
                return ; 
            }
          } else {
            this.snackbar = true;
            this.msgSanck = response.data;
            this.colorSnack = "red";
          }
        }
      } catch (error) {
        this.overlay = false;
        this.snackbar = true;
        this.msgSanck = "Error al consultar getIpAnillos:" + error.response;
        this.colorSnack = "red";
        return;
      }
    },
    changed(value) {
     // console.log(value);
      var itemSelected = this.$store.state.ipsAnillos.filter(function(item) {
        return item.equipo === value;
      });
            try {
        this.$refs.form.resetValidation();
      } catch (error) {}

      //  console.log(itemSelected);
      this.$store.state.editedNodo.valNombreNodo = value;
      // this.$store.state.editedIndex = this.$store.state.ipsAnillos.indexOf(itemSelected[0]);
      //this.$store.state.editedNodo.valOrden = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].orden;
      this.$store.state.editedNodo.valIpEquipo = itemSelected[0].ip;

     this.$store.state.editedNodo.valMPLS = "";
     this.$store.state.editedNodo.valVrrp = "";
     this.$store.state.editedNodo.valInterfaz = "";
     this.$store.state.editedNodo.valDown = "";
     this.$store.state.editedNodo.valLLDP = "";
     this.$store.state.editedNodo.valConectaCon = "";
     this.$store.state.editedNodo.valIpColector = "";
     this.$store.state.editedNodo.valIpLANWAN = "";
     this.$store.state.editedNodo.valIpOLT = "";
     this.$store.state.editedNodo.valPosONT = "";

     this.$store.state.editedNodo.modelo = "";
     this.$store.state.editedNodo.version = "";

     this.$store.state.editedNodo.valIpDestino = "";

    if (value.includes("X8") || value.includes("X16") || value.includes("X3")) {
      //es router
     //ambiente
     // this.iconoEquipo= servidor().replace("8080","8081") + "/edt/stencils/clipart/router.png";
      this.iconoEquipo= servidor() + "/edt/stencils/clipart/router.png";
      
    }else{
      //es switch
        //ambiente
       //this.iconoEquipo= servidor().replace("8080","8081") + "/edt/stencils/clipart/switch.png";
       this.iconoEquipo= servidor() + "/edt/stencils/clipart/switch.png";
    }

     this.iconoConectaCon="";

    },
    changedConectaCon(value){
        this.$store.state.editedNodo.valConectaCon = value;
        
         if (value.includes("X8") || value.includes("X16") || value.includes("X3")) {
            //es router
          //ambiente
            // this.iconoConectaCon=servidor().replace("8080","8081") + "/edt/stencils/clipart/router.png";
              this.iconoConectaCon=servidor() + "/edt/stencils/clipart/router.png";
            
          }else{
            //es switch 
            //ambiente
             //this.iconoConectaCon=servidor().replace("8080","8081") + "/edt/stencils/clipart/switch.png";
             this.iconoConectaCon=servidor() + "/edt/stencils/clipart/switch.png";
          }
         this.validaRouters();

        
    },
    validaRouters(){
           //console.log("validacion de routers...");
          this.permiteAplicar=false;
          if(this.iconoEquipo.endsWith("router.png") && this.iconoConectaCon.endsWith("router.png") && this.$store.state.editedNodo.valDown=="SI"){
              this.snackbar = true;
              this.colorSnack = "yellow";
              this.msgSanck = "Restricción de nodos. No se permite corte entre routers. Favor de revisar la configuración";
              this.permiteAplicar=true;
              return;
          }

           if( this.$store.state.editedNodo.valConectaCon== this.$store.state.editedNodo.valNombreNodo){
             this.snackbar = true;
              this.colorSnack = "yellow";
              this.msgSanck = "Restricción de nodos. No es válido tener el mismo nodo en los campos Equipo y el Conecta con. Favor de revisar la configuración";
              this.permiteAplicar=true;

         }
    },
    //
    editItem(item) {
      //debugger;
      this.$store.state.indexEdit = this.$store.state.indexAnilloEdit;

      if (this.$store.state.anillos[this.$store.state.indexEdit].anillo.trim() !="") {
        // this.$store.state.modoEdicion = false;
        // PAUL
        this.getIpsAnillos();
        //if(this.$store.state.ipsAnillos == null) {
          // this.snackbar = true;
          // this.colorSnack = "red";
          // this.msgSanck = "!No hay nodos precargados para el anillo seleccionado";
        // }
      } else {
        this.snackbar = true;
        this.colorSnack = "red";
        this.msgSanck = "El campo nombre de anillo es requerido";
        // this.bitacora(this.msgSanck);
        return;
      }

      this.nameNodo= [r => !!r || 'El campo es requerido'];


      this.editNodoFlag = true;

      this.$store.state.editedIndex = this.$store.state.anillos[this.$store.state.indexEdit].nodos.indexOf(item);
      //paul
    //   var equipoSelect = this.$store.state.anillos[this.$store.state.indexEdit]
    //     .nodos[this.$store.state.editedIndex].equipo;
    //    console.log('>>>>'+equipoSelect );
    //   this.selectAnillo = this.$store.state.ipsAnillos.find(function(item) {
    //     return item.equipo === equipoSelect;
    //   });
    //   console.log('>>>>'+this.selectAnillo );
      //
      this.$store.state.editedNodo.valOrden = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].orden; //this.nodosAnillo[this.editedIndex].orden;
      
      this.itemEquipoTemp = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo;
      this.$store.state.editedNodo.valNombreNodo = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo; //this.nodosAnillo[this.editedIndex].nomEquipo;
     
      this.$store.state.editedNodo.valIpEquipo = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ip; //this.nodosAnillo[this.editedIndex].ipEquipo;
      this.$store.state.editedNodo.valMPLS = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].mpls; //this.nodosAnillo[this.editedIndex].MPLS;
      this.$store.state.editedNodo.valVrrp = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].vrrp; //this.nodosAnillo[this.editedIndex].VRRP;
      this.$store.state.editedNodo.valInterfaz = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].interfaz; //this.nodosAnillo[this.editedIndex].interfaz;
      this.$store.state.editedNodo.valDown = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].down; //this.nodosAnillo[this.editedIndex].down;
      this.$store.state.editedNodo.valLLDP = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].lldp; //this.nodosAnillo[this.editedIndex].lldp;
      
      this.$store.state.editedNodo.valConectaCon = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].conectacon; //this.nodosAnillo[this.editedIndex].conectaCon;
      
      this.$store.state.editedNodo.valIpColector = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipcolectorvalidacionserviciodatosping; //this.nodosAnillo[this.editedIndex].ipColector;
      this.$store.state.editedNodo.valIpLANWAN = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].iplanwanvalidacionserviciodatos; //this.nodosAnillo[this.editedIndex].ipLANWAN;
      this.$store.state.editedNodo.valIpOLT = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipolt; //this.nodosAnillo[this.editedIndex].ipOLT;
      this.$store.state.editedNodo.valPosONT = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].posont; //this.nodosAnillo[this.editedIndex].posONT;
     
      this.$store.state.editedNodo.modelo = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].modelo;
      this.$store.state.editedNodo.version = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].version;
     
     this.$store.state.editedNodo.valIpDestino = this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].ipdestinovalidacioninternetont; //this.nodosAnillo[this.editedIndex].ipDestino;

 
        //
         if (this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo.includes("X8") || this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo.includes("X16") || this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].equipo.includes("X3")) {
            //es router
          //ambiente
            // this.iconoEquipo=servidor().replace("8080","8081")+ "/edt/stencils/clipart/router.png";
             this.iconoEquipo=servidor()+ "/edt/stencils/clipart/router.png";
            
          }else{
            //es switch
            //ambiente
            // this.iconoEquipo=servidor().replace("8080","8081") + "/edt/stencils/clipart/switch.png";
              this.iconoEquipo=servidor() + "/edt/stencils/clipart/switch.png";
          }

           if (this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].conectacon.includes("X8") || this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].conectacon.includes("X16") || this.$store.state.anillos[this.$store.state.indexEdit].nodos[this.$store.state.editedIndex].conectacon.includes("X3")) {
            //es router
          //ambiente
            // this.iconoConectaCon=servidor().replace("8080","8081") + "/edt/stencils/clipart/router.png";
              this.iconoConectaCon=servidor() + "/edt/stencils/clipart/router.png";
            
          }else{
            //es switch
            //ambiente
             //this.iconoConectaCon=servidor().replace("8080","8081")+ "/edt/stencils/clipart/switch.png";
              this.iconoConectaCon=servidor()+ "/edt/stencils/clipart/switch.png";
          }



           if(this.iconoEquipo.endsWith("router.png") && this.iconoConectaCon.endsWith("router.png") && this.$store.state.editedNodo.valDown=="SI"){
              this.snackbar = true;
              this.colorSnack = "yellow";
              this.msgSanck = "Restricción de nodos. No se permite corte entre routers. Favor de revisar la configuración";
              this.permiteAplicar=true;
              
          }else{
                this.permiteAplicar=false;
          }

         

      try {
        this.$refs.form.resetValidation();
      } catch (error) {}
    },
    deleteItem(item) {
      if (
        this.$store.state.anillos[this.$store.state.indexEdit].anillo.trim() ==
        ""
      ) {
        this.snackbar = true;
        this.colorSnack = "red";
        this.msgSanck = "El campo nombre de anillo es requerido";
        // this.bitacora(this.msgSanck);
        return;
      }

      const index = this.$store.state.anillos[
        this.$store.state.indexEdit
      ].nodos.indexOf(item);
      confirm("¿Está seguro que desea eliminar este nodo?") &&
        this.$store.state.anillos[this.$store.state.indexEdit].nodos.splice(
          index,
          1
        );

      this.$store.state.anillos[
        this.$store.state.indexEdit
      ].noNodos = this.$store.state.anillos[
        this.$store.state.indexEdit
      ].nodos.length;
     // console.log(this.$store.state.modoEdicion);
     // console.log(this.$store.state.modoNuevoAnillo);
    },
    guardarAnillo() {
      var arrAnillos = this.$store.state.anillos;
      var nodostoAnillo = [];

      for (var rs = 0; rs < this.nodosAnillo.length; rs++) {
        var prevNod = {
          orden: this.nodosAnillo[rs].orden,
          equipo: this.nodosAnillo[rs].nomEquipo,
          ip: this.nodosAnillo[rs].ipEquipo,
          tipo: "",
          mpls: this.nodosAnillo[rs].MPLS,
          interfaz: this.nodosAnillo[rs].interfaz,
          down: this.nodosAnillo[rs].down,
          conectaCon: this.nodosAnillo[rs].conectaCon,
          ipOlt: this.nodosAnillo[rs].ipOLT,
          posONT: this.nodosAnillo[rs].posONT,
          servicios: [
            {
              id: "1",
              servicio: "ipColectorValidacionServicioDatosPing",
              descripcion: "",
              valor: this.nodosAnillo[rs].ipColector
            },
            {
              id: "2",
              servicio: "ipLanwanValidacionServicioDatos",
              descripcion: "",
              valor: this.nodosAnillo[rs].ipLANWAN
            },
            {
              id: "3",
              servicio: "ipDestinoValidacionInternetONT",
              descripcion: "",
              valor: this.nodosAnillo[rs].ipDestino
            }
          ],
          protocolos: [
            {
              id: "1",
              protocolo: "VRRP",
              descripcion: "",
              valor: this.nodosAnillo[rs].VRRP
            },
            {
              id: "2",
              protocolo: "LLDP",
              descripcion: "",
              valor: this.nodosAnillo[rs].lldp
            }
          ]
        };
        nodostoAnillo.push(prevNod);
      }
      if (this.$store.state.indexAnilloEdit < 0) {
        var newAnillo = {
          id: arrAnillos.length + 1,
          nombre:
            this.$store.state.nombreAnillo == ""
              ? this.nombreAnillo
              : this.$store.state.nombreAnillo,
          estatus: "1",
          nodos: nodostoAnillo
        };
        arrAnillos.push(newAnillo);
        this.$store.state.nombreAnillo = "";
        this.nombreAnillo = "";
        this.$store.state.indexAnilloEdit = -1;
        this.nodosAnillo = [];
      } else {
        //this.nodosAnillo.splice((Number.parseInt(this.editedNodo.valOrden)-1),0,newnodo);
        var newAnillo = {
          id: this.$store.state.indexAnilloEdit + 1,
          nombre: this.nombreAnillo,
          estatus: "1",
          nodos: nodostoAnillo
        };

        this.$store.state.anillos[
          this.$store.state.indexAnilloEdit
        ] = newAnillo;
        this.$store.state.nombreAnillo = this.nombreAnillo;
      }
      this.reset();
    },
    validaAnillo() {
      var retorno = false;
      if (this.nombreAnillo != "" && this.nodosAnillo.length > 0) {
        retorno = true;
      }
      return retorno;
    }
  },
  watch: {

    '$store.state.editedNodo.valNombreNodo': function(nombre){
    //  console.log("CAMBIO EL nombre ="+nombre)
      this.nameNodo= [
              r => !!r || 'El campo es requerido',
            //  r => (r && (r.length >= 3 && r.length <= 50) ) || 'Longitud entre 3 y 50 carácteres',
             // r => /^[A-Za-z0-9_ -\s]+$/g.test(r) || 'Solo se aceptan letras y números',
              ];
    }
    //  valNombreNodo:{
    //     handler:function(newVal,oldVal){
    //     // this function will trigger when ever the value of `my_state` changes
    //     console.log(newVal);
    //     },
    //     deep:true
    // }
  },
  computed: {
    modoEdicion() {
      return !this.$store.state.modoEdicion;
    },
    getAnillo() {
      return this.$store.state.anillos[this.$store.state.indexEdit].nodos;
    },
    getIndex() {
      //console.log("this.$store.state.indexEdit::");
      //console.log(this.$store.state.indexEdit);
      return this.$store.state.indexEdit;
    }
  },
  created() {
    this.editaAnillo = this.$store.state.btnActivo;
    //this.$store.state.anillos[this.getIndex].anillo ={}
  },

};
</script>
<style type="text/css" >
.v-text-field--filled.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot {
  min-height: 32px !important;
}
.v-data-table td {
  font-size: 12px !important;
  height: 48px;
}
.v-text-field--outlined.v-input--dense .v-label {
  top: 7px !important;
  font-size: 12px;
  text-transform: uppercase;
}

.v-input__control {
  font-size: 12px;
  min-height: 32px !important;
  text-transform: uppercase;
}
#input-72 {
  text-align: center;
}
.v-input input {
  max-height: 32px;
  text-transform: uppercase;
}
.v-data-table__wrapper {
  overflow-x: auto;
  overflow-y: auto;
}
</style>